
.hero{
  padding-top: 20vh;
  width: 100%;
  height: 90vh;
  position: relative;
}

.div-video{
  width: 100%;
  height: 100%;
  position: absolute;
}

.div-video > video {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  filter: brightness(0.5);
}


.div-slogan{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-slogan > p {
  color: var(--qgd-color-2);
  font-size:3em;
  text-align: center;
}