
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: var(--qgd-color-1)
}

:root{
  --qgd-color-1:#000000;
  --qgd-color-2:#ffffff;
  --qgd-color-3:#b50938;
  --qgd-color-4:#c2c2c2;
  ;

}

body{
  background-color: var(--qgd-color-2);
}